<!DOCTYPE HTML>
<html lang="en">
<div th:fragment="saokeQR">

  <div class="row m-0 pt-2">
    <div class="col-12 col-md-8 d-flex align-items-center">

      <div class="d-flex justify-content-center align-items-center">
        <select id="typeTrans" class="rounded-1 style--select-1 ms-1">
          <option value="-1">Tất cả giao dịch </option>
          <option value="0">Giao dịch chi</option>
          <option value="1">Giao dịch thu</option>
        </select>
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <span class="me-1 ms-1 fw-bold">Từ</span>
        <input type="text" id="datepickerFrom" class="rounded-1 style--input-1">
      </div>

      <div class="d-flex justify-content-center align-items-center">
        <span class="me-1 ms-1 fw-bold">Đến</span>
        <input type="text" id="datepickerTo" class="rounded-1 style--input-1">
      </div>
      <button id="btnTransaction" class="rounded-1 style--button-0 ms-3 fw-bold"> Tra cứu</button>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-start">
      <div class="d-flex flex-row me-5">
        <span >Tổng: </span>
        <span id="tatolItem"></span>
        <span class="ms-1">GD</span>
      </div>

      <div class="d-flex flex-row me-5">
        <span > Số dư:</span>
        <span id="tatolAmo" class="ms-1 color-01"></span>
        <span class="ms-1">đ</span>
      </div>
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center justify-content-end">
      <div class="d-flex flex-row">
        <div id="prePaging">
          <div class="d-flex justify-content-center align-items-center btn-trans active-trans--border-left">
            <img th:src="@{/static/images/angle-left.png}" style="width: 25px; height: 25px;">
          </div>

        </div>
        <div id="paging" class="d-flex align-items-center">

        </div>
        <div id="nextPaging">
          <div class="d-flex justify-content-center align-items-center btn-trans active-trans--border-right">
            <img th:src="@{/static/images/angle-right.png}" style="width: 25px; height: 25px;">
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 p-0">
      <table border="1" class="w-100">
        <thead>
        <tr class="w-100">
          <th>STT</th>
          <th>Số tiển</th>
          <th>phí</th>
          <th>noi dung</th>
          <th>thoi gian</th>
        </tr>
        </thead>
        <tbody id="listTrans" th:data-info ="${tatolItem}" >
        <tr th:utext="${htmlTrans}"></tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center p-5">
        <span id="noti"></span>
      </div>
    </div>
  </div>

</div>
</html>

